@model GetNewsListDto

<h1 class="mb-3">Filters</h1>
<hr />
<form id="newsListForm" class="needs-validation" novalidate="" method="get" asp-route="NewsList">
    <input type="hidden" name="page" value="@Model.Filters.Page" />
    @if (Model.Filters.NewsEditorsIds is not null)
    {
        @foreach (var newsEditorId in Model.Filters.NewsEditorsIds)
        {
            <input type="hidden" name="newsEditorsIds" value="@newsEditorId" />
        }
    }
    <div class="row g-3">
        <div class="col-sm-6">
            <label for="startPublishedAtDatetimeLocal" class="form-label">Start of publish time</label>
            <input id="startPublishedAtDatetimeLocal" class="form-control" type="datetime-local" placeholder="" name="startPublishedAt" max="@DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm")" value="@Model.Filters.StartPublishedAt?.ToString("yyyy-MM-ddTHH:mm")">
        </div>
        <div class="col-sm-6">
            <label for="endPublishedAtDatetimeLocal" class="form-label">End of publish time</label>
            <input id="endPublishedAtDatetimeLocal" class="form-control" type="datetime-local" placeholder="" name="endPublishedAt" max="@DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm")" value="@Model.Filters.EndPublishedAt?.ToString("yyyy-MM-ddTHH:mm")">
        </div>
        <div class="col-12">
            <label for="searchStringTextInput" class="form-label">Search string</label>
            <input id="searchStringTextInput" class="form-control" type="text" placeholder="" name="searchString" value="@Model.Filters.SearchString">
        </div>
        <div class="col-12">
            <label for="newsTagsSelect" class="form-label">News tags</label>
            <select id="newsTagsSelect" class="form-select multiple" multiple name="newsTagsIds" size="5">
                @foreach (var newsTag in Model.NewsTags)
                {
                    @if (Model.Filters.NewsTagsIds?.Contains(newsTag.Id) ?? false)
                    {
                        <option value="@newsTag.Id" selected>
                            @newsTag.Name
                        </option>
                    }
                    else
                    {
                        <option value="@newsTag.Id">
                            @newsTag.Name
                        </option>
                    }
                }
            </select>
        </div>
        <div class="col-12">
            <label for="newsSourcesSelect" class="form-label">News soures</label>
            <select id="newsSourcesSelect" class="form-select multiple" multiple name="newsSourcesIds" size="5">
                @foreach (var newsSource in Model.NewsSources)
                {
                    @if (Model.Filters.NewsSourcesIds?.Contains(newsSource.Id) ?? false)
                    {
                        <option value="@newsSource.Id" selected>
                            @newsSource.Title (@newsSource.SiteUrl)
                        </option>
                    }
                    else
                    {
                        <option value="@newsSource.Id">
                            @newsSource.Title (@newsSource.SiteUrl)
                        </option>
                    }
                }
            </select>
        </div>
        <div class="col-12">
            <label class="form-label">Has published at</label>
            <partial name="_RadioButtonGroup" model="@(new RadioButtonGroupModel { Name = "hasPublishedAt", Value = Model.Filters.HasPublishedAt })" />
        </div>
        <div class="col-12">
            <label class="form-label">Has modified at</label>
            <partial name="_RadioButtonGroup" model="@(new RadioButtonGroupModel { Name = "hasModifiedAt", Value = Model.Filters.HasModifiedAt })" />
        </div>
        <div class="col-12">
            <label class="form-label">Has sub title</label>
            <partial name="_RadioButtonGroup" model="@(new RadioButtonGroupModel { Name = "hasSubTitle", Value = Model.Filters.HasSubTitle })" />
        </div>
        <div class="col-12">
            <label class="form-label">Has picture</label>
            <partial name="_RadioButtonGroup" model="@(new RadioButtonGroupModel { Name = "hasPicture", Value = Model.Filters.HasPicture })" />
        </div>
        <div class="col-12">
            <label class="form-label">Has video</label>
            <partial name="_RadioButtonGroup" model="@(new RadioButtonGroupModel { Name = "hasVideo", Value = Model.Filters.HasVideo })" />
        </div>
        <div class="col-12">
            <label for="sortBySelect" class="form-label">Sort by</label>
            <select class="form-select" id="sortBySelect" name="sortBy">
                @foreach (var sortOption in Model.SortingOptions)
                {
                    @if (Model.Filters.SortBy == sortOption.Key)
                    {
                        <option value="@sortOption.Key" selected>
                            @sortOption.Value
                        </option>
                    }
                    else
                    {
                        <option value="@sortOption.Key">
                            @sortOption.Value
                        </option>
                    }
                }
            </select>
        </div>
        <div class="col-12">
            <label for="pageSizeSelect" class="form-label">Page size</label>
            <select id="pageSizeSelect" class="form-select" name="pageSize">
                @foreach (var pageSize in Model.PageSizes)
                {
                    @if (pageSize == Model.Filters.PageSize)
                    {
                        <option value="@pageSize" selected>
                            @pageSize
                        </option>
                    }
                    else
                    {
                        <option value="@pageSize">
                            @pageSize
                        </option>
                    }
                }
            </select>
        </div>
    </div>
    <hr class="my-4" />
    <div class="d-grid gap-2">
        <button class="w-100 btn btn-danger btn-lg" type="reset">
            <a class="text-decoration-none text-reset" asp-route="NewsList">
                Reset filters
            </a>
        </button>
        <button class="w-100 btn btn-primary btn-lg" type="submit">Apply filters</button>
    </div>
</form>