@model GetNewsListDto
@{
    ViewData["Title"] = "News list";
}

@section Styles
{
    <style>
        .news-list-header {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    </style>
}

<h1>News list</h1>
<hr />
<partial name="_Hotline" />
<div class="row">
    <div class="col-xl-4">
        <partial name="_Filters" model="@Model" />
        <hr class="d-xl-none" />
    </div>
    <div class="col-xl-8">
        <h1 class="news-list-header" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@($"Show {Model.Result.GetFormattedShowedItems()} from {Model.Result.GetFormattedTotalItems()} news")">Show @Model.Result.GetFormattedShowedItems() from @Model.Result.GetFormattedTotalItems() news</h1>
        <hr />
        <partial name="_List" model="@Model" />
        <partial name="_Pagination" model="@Model.Result.ToPaginationModel("newsListForm")" />
    </div>
</div>