@model News
@{
    ViewData["Title"] = Model.Title;
}

@section MetaTags
{
    <meta itemprop="item" content="@Model.Url">
    <meta itemprop="name" content="@Model.Title">
    <meta property="og:title" content="@Model.Title">
    @if (Model.SubTitle is not null)
    {
        <meta itemprop="description" content="@Model.SubTitle.Title">
        <meta property="og:description" content="@Model.SubTitle.Title">
        <meta itemprop="alternativeHeadline" content="@Model.SubTitle.Title">
    }
    <meta itemprop="dateCreated" content="@Model.AddedAt.ToString("yyyy-MM-ddTHH:mm:sszzz")">
    @if (Model.PublishedAt is not null)
    {
        <meta itemprop="datePublished" content="@Model.PublishedAt?.ToString("yyyy-MM-ddTHH:mm:sszzz")">
    }
    @if (Model.ModifiedAt is not null)
    {
        <meta itemprop="dateModified" content="@Model.ModifiedAt?.ToString("yyyy-MM-ddTHH:mm:sszzz")">
    }
    @if (Model.Editor is not null)
    {
        <meta itemprop="author" content="@Model.Editor.Name">
    }
    @if (Model.Picture is not null)
    {
        <meta itemprop="image" content="@Model.Picture.Url">
        <meta property="og:image" content="@Model.Picture.Url">
    }
    @if (Model.Video is not null)
    {
        <meta itemprop="video" content="@Model.Video.Url">
        <meta property="og:video" content="@Model.Video.Url">
    }
    <meta property="article:id" content="@Model.Id">
    <meta property="article:original_url" content="@Model.Url">
    <meta property="article:title" content="@Model.Title">
    @if (Model.SubTitle is not null)
    {
        <meta property="article:alternativeHeadline" content="@Model.SubTitle.Title">
    }
    <meta property="article:created_time" content="@Model.AddedAt.ToString("yyyy-MM-ddTHH:mm:sszzz")">
    @if (Model.PublishedAt is not null)
    {
        <meta property="article:published_time" content="@Model.PublishedAt?.ToString("yyyy-MM-ddTHH:mm:sszzz")">
    }
    @if (Model.ModifiedAt is not null)
    {
        <meta property="article:modified_time" content="@Model.ModifiedAt?.ToString("yyyy-MM-ddTHH:mm:sszzz")">
    }
    @if (Model.Editor is not null)
    {
        <meta itemprop="article:author" content="@Model.Editor.Name">

        @if (Model.Editor.Source is not null)
        {
            <meta itemprop="article:source" content="@Model.Editor.Source.Title">
        }
    }
    @if (Model.Picture is not null)
    {
        <meta itemprop="article:image" content="@Model.Picture.Url">
    }
    @if (Model.Video is not null)
    {
        <meta itemprop="article:video" content="@Model.Video.Url">
    }
}

@section Styles 
{
    <style>
        span[itemprop="source"] a img[itemprop="logo"] {
            width: 16px;
            height: 16px;
            object-fit: cover;
        }

        div[itemprop="articleBody"] img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        video[itemprop="video"] {
            width: 100%;
        }

        .news-reactions {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }

            .news-reactions .news-reactions__reaction {
                margin: 5px;
                padding: 5px;
                gap: 5px;
                min-width: 150px;
                max-width: 150px;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--bs-border-color);
                border-radius: 5px;
                font-weight: bold;
                font-size: 20px;
            }

            .news-reactions .news-reactions__reaction .news-reactions__reaction__counter {
                    overflow: hidden;
                    -webkit-line-clamp: 1;
                    text-overflow: ellipsis;
                    line-clamp: 1;
                    -webkit-box-orient: vertical;
            }
    </style>
}

<div class="row g-5">
    <div class="col-md-8">
        <article class="blog-post" source="@Model.Editor?.Source?.Title">
            <h1 class="display-5 link-body-emphasis mb-1" itemprop="headline">@Model.Title</h1>
            <p class="blog-post-meta">
                @if (Model.PublishedAt is not null)
                {
                    <span itemprop="datePublished">
                        Date of publication:
                        <a class="text-decoration-none" asp-route="NewsList" asp-route-startPublishedAt="@Model.PublishedAt?.Date.ToString("yyyy-MM-ddTHH:mm:ss")" asp-route-endPublishedAt="@Model.PublishedAt?.AddDays(1).Date.ToString("yyyy-MM-ddTHH:mm:ss")">
                            <time datetime="@Model.PublishedAt?.ToString("dd-MM-yyyyTHH:mm:sszzz")" format="MMM. DD, YYYY, h:mm A Z">
                                @Model.GetFormattedPublishedAt()
                            </time>
                        </a>
                    </span>
                }
                @if (Model.ModifiedAt is not null)
                {
                    <span itemprop="dateModified">
                        Date of modified:
                        <time datetime="@Model.ModifiedAt?.ToString("dd-MM-yyyyTHH:mm:sszzz")" format="MMM. DD, YYYY, h:mm A Z">
                            @Model.GetFormattedModifiedAt()
                        </time>
                    </span>
                }
                @if (Model.Editor is not null)
                {
                    <span itemprop="author">
                        Author: <a class="text-decoration-none" asp-route="Author" asp-route-id="@Model.Editor.Id" itemprop="name">@Model.Editor.Name</a>
                    </span>
                }
                @if (Model.Editor?.Source is not null)
                {
                    <span itemprop="source">
                        Source:
                        <a class="text-decoration-none" asp-route="Source" asp-route-id="@Model.Editor.Source.Id">
                            <img itemprop="logo" src="@Model.Editor.Source.Logo?.Small" />
                            <span itemprop="title">@Model.Editor.Source.Title</span>
                        </a>
                    </span>
                }
                <vc:count-news-view news-id="@Model.Id" /> 
                <span itemprop="original">
                    Original: <a class="text-decoration-none text-wrap" href="@Model.Url" target="_blank">@Model.Url</a>
                </span>
            </p>
            @if (Model.SubTitle is not null)
            {
                <span itemprop="alternativeHeadline">@Model.SubTitle.Title</span>
            }
            <hr />
            @if (Model.Picture is not null && Model.Video is null)
            {
                <img itemprop="image" src="@Model.Picture.Url" class="w-100" />
            }
            @if (Model.Video is not null)
            {
                <video itemprop="video" src="@Model.Video.Url" controls>

                </video>
            }
            @if (Model.HtmlDescription is not null)
            {
                <div itemprop="articleBody">
                    @Html.Raw(Model.HtmlDescription.Description)
                </div>
            }
        </article>
        <vc:news-reactions news-id="@Model.Id" />
    </div>
    <div class="col-md-4">
        <div>
            <vc:recent-news-side-bar count="100" />
        </div>
    </div>
    <div class="col-12">
        @if (Model.Editor is not null)
        {
            <vc:news-section-by-editor id="@Model.Editor.Id" />

            @if (Model.Editor.Source is not null)
            {
                <vc:news-section-by-source id="@Model.Editor.Source.Id" />

                @if (Model.Editor.Source.Tags is not null)
                {
                    @foreach (var tag in Model.Editor.Source.Tags)
                    {
                        <vc:news-section-by-tag-id id="@tag.TagId" />
                    }
                }
            }
        }
    </div>
</div>