@model GetNewsEditorListDto
@{
    ViewData["Title"] = "Authors";
}

@section Styles
{
    <style>
        nav[aria-label="Page navigation"] a[class="page-link"] {
            cursor: pointer;
        }
    </style>
}

<h1>News authors list</h1>
<hr />
<div class="row">
    <div class="col-xl-4">
        <h1 class="mb-3">Filters</h1>
        <hr />
        <form id="newsEditorListForm" class="needs-validation" novalidate="" method="get" asp-route="Authors">
            <input type="hidden" name="page" value="@Model.Filters.Page" />
            <div class="row g-3">
                <div class="col-12">
                    <label for="searchStringTextInput" class="form-label">Search string</label>
                    <input id="searchStringTextInput" class="form-control" type="text" placeholder="" name="searchString" value="@Model.Filters.SearchString">
                </div>
                <div class="col-12">
                    <label for="newsSourcesSelect" class="form-label">News soures</label>
                    <select id="newsSourcesSelect" class="form-select multiple" multiple name="newsSourcesIds" size="5">
                        @foreach (var newsSource in Model.NewsSources)
                        {
                            @if (Model.Filters.NewsSourcesIds?.Contains(newsSource.Id) ?? false)
                            {
                                <option value="@newsSource.Id" selected>
                                    @newsSource.Title (@newsSource.SiteUrl)
                                </option>
                            }
                            else
                            {
                                <option value="@newsSource.Id">
                                    @newsSource.Title (@newsSource.SiteUrl)
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="col-12">
                    <label for="sortBySelect" class="form-label">Sort by</label>
                    <select class="form-select" id="sortBySelect" name="sortBy">
                        @foreach (var sortOption in Model.SortingOptions)
                        {
                            @if (Model.Filters.SortBy == sortOption.Key)
                            {
                                <option value="@sortOption.Key" selected>
                                    @sortOption.Value
                                </option>
                            }
                            else
                            {
                                <option value="@sortOption.Key">
                                    @sortOption.Value
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="col-12">
                    <label for="pageSizeSelect" class="form-label">Page size</label>
                    <select id="pageSizeSelect" class="form-select" name="pageSize">
                        @foreach (var pageSize in Model.PageSizes)
                        {
                            @if (pageSize == Model.Filters.PageSize)
                            {
                                <option value="@pageSize" selected>
                                    @pageSize
                                </option>
                            }
                            else
                            {
                                <option value="@pageSize">
                                    @pageSize
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
            <hr class="my-4" />
            <div class="d-grid gap-2">
                <button class="w-100 btn btn-danger btn-lg" type="reset">
                    <a class="text-decoration-none text-reset" asp-route="Authors">
                        Reset filters
                    </a>
                </button>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Apply filters</button>
            </div>
        </form>
        <hr class="d-xl-none" />
    </div>
    <div class="col-xl-8">
        <h1>Show @((Model.Result.Page - 1) * Model.Result.PageSize + Model.Result.Items.Count) from @Model.Result.GetFormattedTotalItems() news editors</h1>
        <hr />
        <div class="authors-list-container mb-3">
            <div class="authors-list-container__grid row text-center g-3">
                @foreach (var editor in Model.Result.Items)
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card overflow-hidden">
                            <div class="card-body">
                                <div class="row justify-content-around h-100">
                                    @if (editor.Source is not null)
                                    {
                                        <div class="col-12 align-self-center">
                                            <a class="text-decoration-none" asp-route="Source" asp-route-id="@editor.Source.Id">
                                                @editor.Source.Title
                                            </a>
                                        </div>
                                    }
                                    <div class="col-12 align-self-center">
                                        <a class="text-decoration-none" asp-route="Author" asp-route-id="@editor.Id">
                                            @editor.GetFormattedName()
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.Filters.Page == 1 ? "disabled" : "")">
                    <a class="page-link" aria-label="Previous" onclick="onClickPageItem(@(Model.Filters.Page - 1))">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @foreach (var pageNumber in Model.Result.GetPageNumbers())
                {
                    <li class="page-item @(Model.Filters.Page == pageNumber ? "active" : "")">
                        <a class="page-link" onclick="onClickPageItem(@pageNumber)">
                            @pageNumber
                        </a>
                    </li>
                }
                <li class="page-item @(Model.Filters.Page == Model.Result.TotalPages ? "disabled" : "")">
                    <a class="page-link" aria-label="Next" onclick="onClickPageItem(@(Model.Filters.Page + 1))">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function onClickPageItem(pageNumber) {
            const form = document.querySelector('form[id="newsEditorListForm"]');
            const buttonForm = form.querySelector('button[type="submit"]');
            const pageHiddenInput = form.querySelector('input[type="hidden"][name="page"]');

            pageHiddenInput.setAttribute('value', pageNumber);
            buttonForm.click();
        }
    </script>
}