@model GetNewsEditorListDto
@{
    ViewData["Title"] = "Authors";
}

@section Styles
{
    <style>
        .authors-header {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        .authors-table .authors-table__row__news-source-logo {
            width: 32px;
            height: 32px;
            object-fit: cover;
        }

        .authors-grid-container .authors-grid-container__grid .authors-grid-container__grid__item .card {
            height: 150px;
        }

            .authors-grid-container .authors-grid-container__grid .authors-grid-container__grid__item .authors-grid-container__grid__item__news-source {
                gap: 5px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

                .authors-grid-container .authors-grid-container__grid .authors-grid-container__grid__item .authors-grid-container__grid__item__news-source .authors-grid-container__grid__item__news-source__title {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    text-overflow: ellipsis;
                    line-clamp: 1;
                    text-decoration: none;
                    -webkit-box-orient: vertical;
                }

                .authors-grid-container .authors-grid-container__grid .authors-grid-container__grid__item .authors-grid-container__grid__item__news-source .authors-grid-container__grid__item__news-source__logo {
                    width: 16px;
                    height: 16px;
                    object-fit: cover;
                }

            .authors-grid-container .authors-grid-container__grid .authors-grid-container__grid__item .authors-grid-container__grid__item__name {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                line-clamp: 2;
                text-decoration: none;
                -webkit-box-orient: vertical;
            }
    </style>
}

<h1>News authors list</h1>
<hr />
<div class="row">
    <div class="col-xl-4">
        <partial name="_Filters" model="@Model" />
        <hr class="d-xl-none" />
    </div>
    <div class="col-xl-8">
        <h1 class="authors-header" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@($"Show {Model.Result.GetFormattedShowedItems()} from {Model.Result.GetFormattedTotalItems()} news editors")">Show @Model.Result.GetFormattedShowedItems() from @Model.Result.GetFormattedTotalItems() news editors</h1>
        <hr />
        <partial name="_Table" model="@Model.Result.Items" />
        <partial name="_Pagination" model="@Model.Result.ToPaginationModel("newsEditorListForm")" />
    </div>
</div>