@model GetNewsSourceListDto
@{
    ViewData["Title"] = "Sources";
}

@section Styles
{
    <style>
        .news-sources-header {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        .news-source-table {
            width: max-content;
        }

        .news-source-table .news-source-table__row__logo {
            width: 32px;
            height: 32px;
            object-fit: cover;
        }

        .news-sources-container .news-sources-container__grid__item img {
            object-fit: cover;
        }

            .news-sources-container .news-sources-container__grid__item .news-sources-container__grid__item__title {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                text-overflow: ellipsis;
                line-clamp: 1;
                -webkit-box-orient: vertical;
            }
    </style>
}

<h1>News sources list</h1>
<hr />
<div class="row">
    <div class="col-xl-4">
        <partial name="_Filters" model="@Model" />
        <hr class="d-xl-none" />
    </div>
    <div class="col-xl-8">
        <h1 class="news-sources-header" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@($"Show {Model.Result.GetFormattedShowedItems()} from {Model.Result.GetFormattedTotalItems()} news sources")">Show @Model.Result.GetFormattedShowedItems() from @Model.Result.GetFormattedTotalItems() news sources</h1>
        <hr />
        <partial name="_Table" model="@Model.Result.Items" />
        <partial name="_Pagination" model="@Model.Result.ToPaginationModel("newsSourceListForm")" />
    </div>
</div>